.NavbarItems{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px ;
    box-shadow: 0 5px 15px 0  rgba(0, 0, 0 , .15);
    width:100%;
    height: 80px;
    position: fixed;
    transition: all 0.2s ease-in-out;
    z-index: 9999;

}

.logo{
    color: #222;
    font-size: 2rem;
    cursor: pointer;
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(6, auto) ;
    grid-gap:10px;
    list-style: none;
    align-items: center;
}

.nav-links{
    text-decoration: none;
    color: #222;
    font-size: 1.1rem;
    font-weight: 550;
    padding: 0.7rem 1rem;
    white-space: nowrap;
}
.nav-links i{
    padding-right: 20px;
    padding-top: 10px;
}

.nav-links:hover{
    background-color: #d47629;
    color: #222;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    align-items: center;
}

.menu-icons{
    display: none;
}

.scrolled{
    background-color: #fff;
    box-shadow: 0 5px 0 rgba(0, 0, 0 , .15);
   }
   

@media screen and (max-width: 850px){
    .nav-menu{
        
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background: #fff;
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: -100%;
        opacity: 0;
        align-items: stretch;
        padding: 60px 0 20px 0; 
        margin: 0;
        transition:0.3s ease-in-out;
    }

    .nav-menu.active{
        left: 0;
        opacity: 1;
        z-index: -1;
        transition:0.3s ease-in-out;
    }

    .nav-links{
        display: block;
        width: 100%;
        font-size: 1.1rem;
        padding: 2rem 0;
        color: #222;
    }
    
    .nav-links:hover{
        background-color: #eb9e5f;
        transition: none;
        color: #222;
    }
    .menu-icons{
        display: block;
        cursor: pointer;
    }

    .menu-icons i{
       font-size: 1.2rem;
       color: #222;
    }

    .scrolled{
        background-color: #fff;
        box-shadow: 0 5px 0 rgba(0, 0, 0 , .15);
       }

   
}
